@import "tailwindcss";

@theme {
  --color-brand: #4f46e5;
}

@utility transition-micro {
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
